.main_container {
    background-color: var(--dark-grey);
    height: calc(100dvh - 4rem);
    color: white;
}

.card_container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    grid-auto-rows: 10px;
    gap: 16px;
    padding: 16px;
    overflow-y: scroll;
    height: 100%;
}

.new_keep{
    position: absolute;
    bottom: 3rem;
    right: 5rem;
}
