.main_container {
    background-color: var(--dark-grey);
    padding: 1rem;
    border-radius: 8px;
    height: 60%;
    width: 40%;
}

.main_container .form {
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.main_container .actions {
    display: flex;
    gap: 1rem;
    flex-direction: row-reverse;
}