.main_conatiner {
    height: 4rem;
    background-color: var(--dark-grey);
    border-bottom: 1px solid var(--light-grey);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem 0 2rem;
    gap: 2rem;
}

.brand {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.main_conatiner .actions{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.brand_logo {
    height: 3rem;
}

.brand_name {
    font-size: 1.5rem;
}

.search_form {
    display: flex;
    flex-shrink: 1;
    gap: 1rem;
}

.clear{
    opacity: 0;
    transition: all 0.5s ease;
    display: flex;
}

.visible{
    opacity: 1;
    height: unset;
    transform: rotate(360deg);

}

@media screen and (max-width: 700px) {
    .main_conatiner {
        padding: 0 1rem 0 0rem;
    }
}