* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --dark-grey: #202124;
  --light-grey: #525355;
  --white: #ffffff;
  --brand-color: #FBBC04;
}

.ql-snow {
  color: white;
  border: none !important;
  outline: none !important;
}

.quill>.ql-container>.ql-editor.ql-blank::before {
  color: var(--light-grey);
}

.ql-editor {
  max-height: 14rem;
  overflow-y: auto;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--light-grey);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb.horizontal {
  background-color: var(--light-grey);
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  background-color: var(--dark-grey);
}